/*Variables*/

$colores: (
/*Declaramos nuestro mapa*/

primario:#8ED0E6, secundario:white, terceario:#7EB9CC);
@function color ($color) {
    @return map-get($colores, $color);
}

@for $i from 2 through 5 {
    h#{$i} {
        font-size: $i + 16px;
    }
}

$base: 250px;
.bannerPrincipal {
    height: 95vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
}

.titulo {
    padding-top: 300px;
    padding-left: $base/5;
    background-color: white;
    width: 100vh;
    height: 100vh;
}

.tituloPrincipal {
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    animation: bounce;
    animation-duration: 2s;
}

.bannerPrincipal img {
    height: 100vh;
    width: 130vh;
}

.bannerPrincipal p,
#cuartoBanner p {
    font-weight: bold;
    padding-right: 20px;
    color: black;
    text-align: left;
}

.tarjeta {
    margin: 20px 200px;
}

.tarjeta__div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    background-color: color(primario);
    color: white;
    padding: 50px;
    height: 70%;
    width: 90hv;
}

.tarjeta__div:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.tarjeta__pasos {
    text-align: justify;
}

.cuadros__img {
    border-radius: 1%;
}


/*boton Primario*/

.boton {
    background-color: color(primario);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    display: block;
    margin-top: 15px;
    border-radius: 4%;
}

.boton:hover {
    background-color: color(terceario);
}

.subtituloPrincipal {
    font-size: 18px;
    color: black;
    line-height: 1.6;
    font-size: 25px;
    padding-top: 80px;
    padding-left: 50px;
    text-align: center;
    animation: heartBeat;
    animation-duration: 5s;
}

.tituloSecundario {
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    animation-duration: 2s;
    animation-name: backInDown;
}


/*Seccion 5- unete*/

.unete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    height: 95vh;
    margin-top: 50px;
}

#quintoBanner {
    width: 50%;
    background-image: url("../images/dentist-1639683_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formulario {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    width: 50%;
    color: black;
    text-align: center;
    align-content: center;
}

.formulario__form {
    height: 50%;
}

.formulario__parrafo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario__input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid rgb(122, 122, 122);
    display: inline-block;
    align-content: center;
    width: 50%;
    font-family: 'Noto Sans JP', sans-serif;
}

.formulario__input:hover {
    border-color: black;
}

.formulario__boton {
    margin-left: 279px;
}


/*transformaciones*/

.translate:hover {
    transform: translate(10px, 20px);
}

.agrandar:hover {
    transform: scale(2, 2);
}


/*animación*/

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#listadoc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.columna__evento {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 1%;
}

.columna__container {
    padding: 2px 16px;
}

.columna__titulo {
    margin: 20px 0 0 0;
}

.columna__input {
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid rgb(122, 122, 122);
    display: inline-block;
    align-content: center;
    width: 30%;
    font-family: 'Noto Sans JP', sans-serif;
}

.columna__input:hover {
    border-color: color(secundario);
}

.columna__boton {
    background-color: skyblue;
}

.columna__boton:hover {
    background-color: black;
}

//modal
.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 40%;
    height: 50%;
    background: #fff;
    /*overflow: hidden;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY(-200%);
}

.modal>img {
    height: 30%;
}

#Register {
    justify-content: center;
    align-items: center;
    #btnRegistrate {
        display: inline-block;
        margin: 0 100px;
    }
}

#appointment {
    align-items: center;
    display: inline-block;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 0 0;
    #form2 {
        text-align: center;
        .datatable {
            margin: auto;
        }
        #cita {
            text-align: center;
            align-items: center;
            align-content: center;
            margin: 10px 0;
        }
    }
}